* {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --primary: rgb(14, 121, 89);
  --secondary: antiquewhite;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 100%;
  background-color: var(--primary);
}

h1 {
  align-self: center;
  font-size: 55px;
  color: var(--secondary);
}

header nav {
  padding-top: 15px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 300px;
  font-size: 20px;
  background-color: var(--primary);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  list-style-type: none;
  background-color: var(--primary);
}

header nav ul li {
  margin-left: 20px;
  margin-top: 50px;
  background-color: var(--primary);
  color: var(--secondary);
}

header nav ul li a {
  padding: 10px;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: var(--secondary);
}

section {
  font-size: 20px;
}

footer {
  height: 35px;
  width: 100%;
  background-color: var(--primary);
  color: var(--secondary);
}

.pretty {
  height: 350px;
  width: 100%;
  /* margin-bottom: 20px; */
  background-image: url(https://images.unsplash.com/photo-1593328125760-2a9bf6288fb2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.image {
  height: 200px;
  width: 200px;
  padding: 20px;
  align-self: center;
  /* padding-right: 50px; */
  /* background-color: var(--primary); */
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--secondary);
  margin: 20px;
  padding: 10px;
}

p {
  margin-bottom: 15px;
  pmargin-left: 220px;
  align-items: center;
  color: var(--primary);
}

.wrapper > h2 {
  flex: 0 0 20%;
  padding-right: 25px;
  font-size: 40px;
  border-right: 7px solid var(--primary);
  color: var(--primary);
  text-align: right;
}

.wrapper > div {
  flex: 0 0 77%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.work-container > a {
  text-decoration: none;
  margin-right: 50px;
}

.project-images {
  height: 200px;
  width: 200px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  padding: 20%;
  background-image: url(https://images.unsplash.com/photo-1529647549218-0600d73bdfee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Zmx1ZmZ5JTIwY2xvdWRzfGVufDB8fDB8fHww);

  transition-duration: 700ms;
  transition-property: transform;
  text-align: center;
}

.project-images:hover {
  transform: scale(90%);
}
