* {
  margin: 0;
}

:root {
}

header {
  height: 100px;
  width: 100%;
  background-color: rgb(14, 121, 89);
}

header h1 {
  display: inline-block;
  padding-top: 15px;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 48px;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}

section {
  height: 200px;
  width: 100%;
  background-color: antiquewhite;
}

.pretty {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(https://media.istockphoto.com/id/1400234736/photo/veins-of-green-and-blue-rose-petals.webp?b=1&s=170667a&w=0&k=20&c=-T8OyT-IXX7Azu-OLapiTZ24mAaY0eR9gUeU5c_MR-0=);
  background-size: cover;
  background-position: center;
}
